body {
  background-image: url(../../assets/img/light-grey-terrazzo.png);
  background-repeat: repeat;
}

#bar2 {
  background-color: #F5D0A9;
}

#bar1 {
  background-color: #F5D0A9;
}

#bar0 {
  background-color: #ECCEF5;
}

style {
}

#promodelivery {
  border-radius: 50px;
}

